@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(fonts/Rubik-VariableFont_wght.tff);
}

html {
  background-color: #161f6d;
}

body {
  height: auto;
  font-family: Roboto;
}

a {
  color: white;
}

h1 {
  font-family: Rubik;
  font-size: xx-large;
  color: #161f6d;
}

h2 {
  font-family: Rubik;
  color: #161f6d;
  padding-left: 5px;
}

h3 {
  font-family: Rubik;
  color: #161f6d;
  padding-left: 5px;
}

p {
  margin: 20px;
}

header {
  display: grid;
  grid-template-columns: auto 50% auto;
  grid-template-rows: 25% auto;
  grid-row-gap: 10px;
  grid-column-gap: 5px;
  height: 160px;
  margin: 10px;
  background-color: #00abe1;
  text-align: center;
  font-size: large;
}

main {
  margin: 10px;
}

footer {
  text-align: center;
  color: grey;
}

nav {
  position: sticky;
  top: 0;
  margin: 10px;
  border: 1px white solid;
  background-color: #00abe1;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-bar li {
  float: left;
  border-right: 1px white solid;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: #0d92cf;
}

.about-me {
  background-color: #00abe1;
}

.education {
  flex: 50%;
  background-color: #00abe1;
}

.skills {
  flex: 50%;
  background-color: #00abe1;
}

.contact {
  background-color: #00abe1;
}

#me {
  grid-column: 1;
  grid-row: 1 / 3;
  margin-left: 5px;
  margin-top: 5px;
  max-height: 150px;
  width: auto;
  border: 1px black solid;
}

#name {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: center;
}

#bio {
  grid-column: 2;
  grid-row: 2;
}

#info {
  grid-column: 3;
  grid-row: 1 / 3;
  list-style-type: none;
  line-height: 200%;
  color: white;
  text-align: right;
  margin-right: 10px;
}

#education-skills {
  display: flex;
  gap: 10px;
}
